{% extends "form_template.html" %}

{% block content %}
    <div class="container_register">
        <h2>Registro</h2>
        <div class="form_register">
            <form method="POST" action="{{ url_for('routes.register') }}" novalidate>
                {{ form.hidden_tag() }}
                <p class="form-group">
                    {{ form.usuario(size=32, placeholder="Usuario", class="form-control") }}
                </p>
                <p class="form-group">
                    {{ form.email(size=32, placeholder="Email", class="form-control") }}
                </p>
                <p class="form-group">
                    {{ form.nombre(size=32, placeholder="Nombre", class="form-control") }}
                </p>
                <p class="form-group">
                    {{ form.apellido(size=32, placeholder="Apellido", class="form-control") }}
                </p>
                <p class="form-group">
                    {{ form.password(size=32, placeholder="Ingrese su contraseña", class="form-control") }}
                </p>
                <p class="form-group">
                    {{ form.confirm_password(size=32, placeholder="Reconfirme su contraseña", class="form-control") }}<br>
                </p>
                <p class="form-group">{{ form.enviar(class="form-control") }}</p>
            </form>
            <p>Ya tienes una cuenta <a href="{{ url_for('routes.login') }}">Logeate aquí</a>.</p>
            <p>Iniciar sesión como anónimo: <a href="{{ url_for('routes.anonymous') }}">Aquí</a></p>
        </div>
    </div>
{% endblock %}