/* KEYSFRAMES*/

@keyframes underlineChange {
    0%{
        text-decoration-color: #FF5733;
    }
    25%{
        text-decoration-color: #DBFF33;
    }
    50%{
        text-decoration-color: #75FF33;
    }
    75%{
        text-decoration-color: #33FFBD;
    }
    100%{
        text-decoration-color: #FF5733;
    }
}

/* MEDIA QUERYS */



/* CONTENT */
*{
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container_base_template{
    display: flex;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* O align-items: center; según tus necesidades */
    overflow: auto;
}
footer{
    position: relative;
    width: 100%;
    color: #d4c26b;
    background-color: #0079d9;
    text-align: center;
    padding: 10px;
}
.container_bienvenida ul li{
    list-style-type: none;
}
.container_bienvenida ul li:hover{
    text-decoration: underline;
}
.container_bienvenida ul li a{
    text-decoration: none;
    color: #205320;
}
.container_bienvenida h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f7f2d7;
}
.container_form{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    background-color: #be5b29;
    .container_login{
        border-radius: 15px;
        padding: 30px;
        background-color: #002d49;
        filter:drop-shadow(5px 5px 5px #000c1d);
    }
    h2{
        color: #e2dba9;
    }
    .form_login{
        font-style: italic;
        color: #00b8ff;
    }
    .form_login a {
        color: #ffbf94;
        text-decoration: none;
    }
    .container_register{
        background-color: #8f4472;
        filter:drop-shadow(5px 5px 5px #000c1d);
        border-radius: 15px;
        padding: 5px 10px;
    }
    .form_register{
        font-style: italic;
        color: #fffdd5;
    }
    .form_register a{
        color: yellow;
        text-decoration: none;
    }
    .nuevo_libro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    .nuevo_autor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
}
.container_logging{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    h1{
        color: #00b8ff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 70px;
        text-align: center;
    }
    ul,li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; /* O align-items: center; según tus necesidades */
        background: -webkit-linear-gradient(102deg, #1a333a, #4c7879);
        background: linear-gradient(102deg, #063739, #4c7879);
        overflow: auto;
    }
    a:hover{
        transition: 0.6s;
        color:#f75300 ;
    }
    .container_logging_index{
        padding: 10px;
    }
    .container_logging_index h2,h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        text-align: center;
    }
    .underline{
        text-decoration: underline;
        text-decoration-color: #FF5733;
        animation: underlineChange 2s infinite;
    }
    .container_index_libros a:hover{
        color: #0079d9;
    }
    .container_index_libros ul{
        display: grid;
        grid-template-columns: repeat(5,auto);
        gap: 20px;
    }
    .container_index_autores ul{
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
    .container_index_autores li{
        display: flex;
        flex-direction: column;
    }
    .imagen_autor_index{
        width: 100px;
    }
    .container_autores{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .container_autores_lista ul{
            display: grid;
            grid-template-columns: repeat(5,auto);
            gap: 40px 60px;
        }
        .container_autores_item{
            text-align: center;
            border-radius: 20px;
            padding: 10px;
            img{
                border-radius: 50%;
            }
        }
        .container_autores_item_img{
            max-width: 100%;
        }
        .container_autores_paginacion{
            background-color: grey;
            padding: 10px;
            border-radius: 30px;
        }
    }
    .container_libros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .container_libros_lista ul{
            display: grid;
            grid-template-columns: repeat(5,auto);
            gap: 40px 60px;
        }
        .container_libros_lista li{
            display: flex;
            flex-direction: column;
        }
        .container_libros_paginacion{
            background-color: grey;
            padding: 10px;
            border-radius: 30px;
        }
        .container_libros_titulo{
            color: #DBFF33;
        }
    }
    .container_detalle_autor{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    }
    .autor{
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
    .autor>*:first-child{
        align-self: stretch;
    }
    .autor_imagen img{
        border-radius: 50%;
    }
    .autor .autor_detalle{
        flex: 1;
    }
    .autor_detalle p{
        text-align: center;
        color: #e2e2e2;
    }
    .botones{
        display: flex;
        gap: 10px;
        align-content: space-around;
        justify-content: space-around;
        padding: 10px;
    }
}