body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "main"
        "footer";
    min-height: 100vh;
    margin: 0;
    background-color: #e2e2e2;
}
.container_base_template{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container_bienvenida ul li{
    list-style-type: none;
}
.container_bienvenida ul li:hover{
    text-decoration: underline;
}
.container_bienvenida ul li a{
    text-decoration: none;
    color: #0972af;
}
.container_bienvenida h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container_form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .container_login{
        border-radius: 15px;
        padding: 30px;
        background-color: #002d49;
        filter:drop-shadow(5px 5px 5px #000c1d);
    }
    h2{
        color: #e2dba9;
    }
    .form_login{
        font-style: italic;
        color: #00b8ff;
    }
    .form_login a {
        color: #ffbf94; /* Color del enlace */
        text-decoration: none; /* Elimina el subrayado */
    }
    .container_register{
        background-color: #8f4472;
        filter:drop-shadow(5px 5px 5px #000c1d);
        border-radius: 15px;
        padding: 5px 10px;
    }
    .form_register{
        font-style: italic;
        color: #f8b7b6;
    }
    .form_register a{
        color: yellow;
        text-decoration: none;
    }
}
.container_logging{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E9F1FA;
    a{
        text-decoration: none;
        color: #fff;
    }
    a:hover{
        transition: 0.6s;
        text-decoration: underline;
        color:#002d49 ;
    }
    .container_logging_index{
        background-color: #00ABE4;
        padding: 10px;
    }
    .container_logging_index h2,h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        text-align: center;
    }

}