{% extends "logging_template.html" %}

{% block content %}
{% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
<div class="container_autores">
    <h2 class="container_autores_titulo">Autores</h2>
    <div class="container_autores_lista">
        <ul>
            {% for autor in autor_paginacion.items %}
                <div class="container_autores_item">
                    <img src="{{ autor.imagen_autor }}" alt="Imagen del Autor" height="150" class="container_autores_item_img">
                    <li><a href="{{ url_for('routes.detalle_autor', id=autor.id) }}">{{ autor.nombre }} {{ autor.apellido }}</a></li>
                    <a href="{{ url_for('routes.editar_autor', id=autor.id)}}"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="Editar" width="20" height="20"></a>
                    <a href="{{url_for('routes.eliminar_autor', id=autor.id)}}"><img src="{{ url_for('static', filename='img/delete.png')}}" alt="Eliminar" width="20" height="20"></a>
                </div>
            {% endfor %}
        </ul>
    </div>
    <div class="container_autores_paginacion">
        {% if autor_paginacion.has_prev %}
            <a href="{{ url_for('routes.inicio_autor', page=autor_paginacion.prev_num) }}">Anterior</a>
        {% endif %}
        <span>Página {{ autor_paginacion.page }} de {{ autor_paginacion.pages }}</span>
        {% if autor_paginacion.has_next %}
            <a href="{{ url_for('routes.inicio_autor', page=autor_paginacion.next_num) }}">Siguiente</a>
        {% endif %}
    </div>
    <div class="container_autores_inicio">
        <p>Volver al <a href="{{ url_for('routes.index') }}"><img src="{{ url_for('static', filename='img/home.png') }}" alt="inicio" width="20" height="20"></a></p>
    </div>
</div>
    {% endif %}
{% endblock %}