{% extends "logging_template.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <h2>Autores</h2>
    <ul>
        {% for autor in autor_paginacion.items %}
            <li>{{ autor.nombre }}</li>
        {% endfor %}
    </ul>
    <div>
        {% if autor_paginacion.has_prev %}
            <a href="{{ url_for('routes.autores', page=autor_paginacion.prev_num) }}">Anterior</a>
        {% endif %}
        <span>Página {{ autor_paginacion.page }} de {{ autor_paginacion.pages }}</span>
        {% if autor_paginacion.has_next %}
            <a href="{{ url_for('routes.autores', page=autor_paginacion.next_num) }}">Siguiente</a>
        {% endif %}
    </div>
    <div>
        <p>Volver al <a href="{{ url_for('routes.index') }}"><b>Inicio</b></a></p>
    </div>
    {% endif %}
{% endblock %}