{% extends "logging_template.html" %}
    {% block content %}
        {% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
        <h1>{% if autor_detalle %}
            {{ autor_detalle.nombre }} {{ autor_detalle.apellido }}
            {% endif %}
        </h1>
        <div class="container_detalle_autor">
            <div class="autor">
                {% if autor_detalle.imagen_autor %}
                <div class="autor_imagen">
                    <img src="{{ autor_detalle.imagen_autor }}" alt="Imagen del Autor" height="200">
                </div>
                {% else %}
                    <p>No hay imagen disponible.</p>
                {% endif %}
                <div class="autor_detalle">
                    {% if autor_detalle %}
                    <div>
                        <p>{{ autor_detalle.descripcion }}</p>
                    </div>
                    {% else %}
                    <div>
                        <p>No hay datos</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="botones">
            <a href="{{ url_for('routes.inicio_autor')}}">Volver a la lista de autores</a>
            <a href="{{ url_for('routes.index')}}">Volver al inicio</a>
        </div>
        {% endif %}
    {% endblock %}