{% extends "form_template.html" %}
{% block content %}
    <h2>Edición de Libros</h2>
    {% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
        <form action="{{ url_for('routes.editar_libro', id=libro.id) }}" method="POST" novalidate enctype="multipart/form-data">
            {{ libroform.hidden_tag() }}
            <div class="form-group mb-3">
                {{ libroform.titulo(size=40, placeholder = 'Título', class="form-control") }}
                {% for error in libroform.titulo.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-3">
                {{ libroform.genero(size=40, placeholder = 'Género', class="form-control") }}
                {% for error in libroform.genero.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-3">
                {{ libroform.precio(size=40, placeholder = 'Precio', class="form-control") }}
                {% for error in libroform.precio.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-3">
                {{ libroform.cantidad(size=40, placeholder = 'Cantidad', class="form-control") }}
                {% for error in libroform.cantidad.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-3">
                {{ libroform.autor_id }}<br>
                {% for error in libroform.autor_id.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-3">
                {{ libroform.imagen(size=40, placeholder = 'Imagen', class="form-control") }}
                {% for error in libroform.imagen.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-3">
                {{ libroform.enviar(class="form-control")}}
            </div>
            <p>Volver al <a href="{{ url_for('routes.index') }}"><b>Inicio</b></a></p>
            <p>Volver a <a href="{{ url_for('routes.inicio_libro') }}"><b>Libros</b></a></p>
        </form>
        {% else %}
            <p>
                Acceso denegado, para poder agregar un nuevo libro debe estar correctamente 
                <a href="{{ url_for('routes.register') }}"><b>registrado</b></a> ó <a href="{{ url_for('routes.login') }}"><b>iniciar sesión</b></a>
            </p>
    {% endif %}
{% endblock %}