{% extends "form_template.html" %}

{% block content %}
    <h2>Editación de Autores</h2>
    {% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
        <form action="{{ url_for('routes.editar_autor', id=autor.id) }}" method="POST" novalidate enctype="multipart/form-data">
            {{ autorform.hidden_tag() }}
            <div class="form-group mb-1">
                {{ autorform.nombre(size=32, placeholder="Nombre", class="form-control") }}<br>
                {% for error in autorform.nombre.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-1">
                {{ autorform.apellido(size=32, placeholder="Apellido", class="form-control") }}<br>
                {% for error in autorform.apellido.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-1">
                {{ autorform.descripcion(size=32, placeholder="Descripción", class="form-control") }}<br>
                {% for error in autorform.descripcion.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-1">
                {{ autorform.imagen_autor(size=32, placeholder="Imagen", class="form-control") }}<br>
                {% for error in autorform.imagen_autor.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ autorform.enviar(class="form-control") }}
            </div>
        </form>
        <p>Volver al <a href="{{ url_for('routes.index') }}"><b>Inicio</b></a></p>
        <p>Volver a <a href="{{ url_for('routes.inicio_autor') }}"><b>Autores</b></a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alerts">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% else %}
        <p>
            Acceso denegado, para poder agregar un nuevo libro debe estar correctamente 
            <a href="{{ url_for('routes.register') }}"><b>registrado</b></a> ó <a href="{{ url_for('routes.login') }}"><b>iniciar sesión</b></a>
        </p>
    {% endif %}
{% endblock %}
