{% extends "form_template.html" %}

{% block content %}
    <h2>Editación de Autores</h2>
    {% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
        <form method="POST" novalidate>
            {{ autorform.hidden_tag() }}
            <div>
                {{ autorform.nombre.label }}
                {{ autorform.nombre(size=32) }}<br>
                {% for error in autorform.nombre.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ autorform.apellido.label }}
                {{ autorform.apellido(size=32) }}<br>
                {% for error in autorform.apellido.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ autorform.descripcion.label }}
                {{ autorform.descripcion(size=32) }}<br>
                {% for error in autorform.descripcion.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ autorform.enviar() }}
            </div>
        </form>
        <p>Volver al <a href="{{ url_for('routes.index') }}"><b>Inicio</b></a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alerts">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% else %}
        <p>
            Acceso denegado, para poder agregar un nuevo libro debe estar correctamente 
            <a href="{{ url_for('routes.register') }}"><b>registrado</b></a> ó <a href="{{ url_for('routes.login') }}"><b>iniciar sesión</b></a>
        </p>
    {% endif %}
{% endblock %}
