{% extends "logging_template.html" %}
    {% block content %}
        {% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
        <div class="container_logging_index">
            <div class="container_bienvenida_usuario">
                <h2>Bienvenido, <span class="underline">{{ current_user.usuario }}</span>!</h2>
            </div>
            <div class="container_index_libros">
                <h3>Libros</h3>
                <div>
                    <a href="{{ url_for('routes.nuevo_libro') }}"><img src="{{ url_for('static', filename='img/add.png') }}" alt="Nuevo libro" width="30" height="30"></a>
                </div>
                <div>
                    <ul>
                        {% for libro in libros %}
                            <li>
                                <img src="{{ libro.imagen_url }}" alt="{{ libro.titulo}}" height="250">
                                <a href="{{ url_for('routes.detalle_libro', id=libro.id) }}">{{ libro.titulo }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h4><a href="{{ url_for('routes.inicio_libro') }}">Todos los libros</a></h4>
            </div>
            <div class="container_index_autores">
                <h3>Autores</h3>
                <div>
                    <a href="{{ url_for('routes.nuevo_autor') }}"><img src="{{ url_for('static', filename='img/add.png') }}" alt="Nuevo autor" width="30" height="30"></a>
                </div>
                <div>
                    <ul>
                        {% for autor in autores %}
                            <li>
                                <img src="{{ autor.imagen_autor }}" alt="{{ autor.nombre }}" height="150"  class="imagen_autor_index">
                                <a href="{{ url_for('routes.detalle_autor', id=autor.id) }}">{{ autor.nombre }} {{ autor.apellido }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h4><a href="{{ url_for('routes.inicio_autor') }}">Todos los autores</a></h4>
            </div>
            <div class="container_index_logout">
                <a href="{{ url_for('routes.logout') }}">Cerrar sesión</a>
            </div>
        </div>
        {% else %}
        <div class="container_logging_index">
            <div class="container_index_libros">
                <div class="container_bienvenida_usuario">
                    <h2>Bienvenido, <span class="underline">{{ current_user.usuario }}</span>!</h2>
                </div>
                <h3>Libros</h3>
                <ul>
                    {% for libro in libros %}
                        <li><a href="{{ url_for('routes.detalle_libro', id=libro.id) }}">{{ libro.titulo }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container_index_autores">
                <h3>Autores</h3>
                <ul>
                    {% for autor in autores %}
                        <li><a href="{{ url_for('routes.detalle_autor', id=autor.id) }}">{{ autor.nombre }} {{ autor.apellido }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container_index_logout">
                <a href="{{ url_for('routes.logout') }}">Cerrar sesión</a>
            </div>
        </div>
        {% endif %}
    {% endblock %}