{% extends "logging_template.html" %}

    {% block content %}
        {% if current_user.is_authenticated %}
        <div class="container_libros">
            <h2>Libros</h2>
            <div class="container_libros_lista">
                <ul>
                    {% for libro in libros_paginacion.items %}
                    <div>
                        <li><a href="{{ url_for('routes.detalle_libro', id=libro.id) }}">{{ libro.titulo }}</a></li>
                        <a href="{{ url_for('routes.editar_libro', id=libro.id)}}"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="Editar" width="20" height="20"></a>
                        <a href="{{url_for('routes.eliminar_libro', id=libro.id)}}"><img src="{{ url_for('static', filename='img/delete.png')}}" alt="Eliminar" width="20" height="20"></a>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="container_libros_paginacion">
                {% if libros_paginacion.has_prev %}
                    <a href="{{ url_for('routes.libros', page=libros_paginacion.prev_num) }}">Anterior</a>
                {% endif %}
                <span>Página {{ libros_paginacion.page }} de {{ libros_paginacion.pages }}</span>
                {% if libros_paginacion.has_next %}
                    <a href="{{ url_for('routes.libros', page=libros_paginacion.next_num) }}">Siguiente</a>
                {% endif %}
            </div>
            <div>
                <p>Volver al <a href="{{ url_for('routes.index') }}"><b>Inicio</b></a></p>
            </div>
        </div>
            {% endif %}
    {% endblock %}