{% extends "form_template.html" %}
{% block content %}
    <h2>Nuevo libro</h2>
    {% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
    <div>
        <form action="{{ url_for('routes.nuevo_libro') }}" method="POST" novalidate>
            {{ libroform.hidden_tag() }}
            <div>
                {{ libroform.titulo.label }}
                {{ libroform.titulo(size=100) }}<br>
                {% for error in libroform.titulo.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ libroform.genero.label }}
                {{ libroform.genero(size=100) }}<br>
                {% for error in libroform.genero.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ libroform.precio.label }}
                {{ libroform.precio }}<br>
                {% for error in libroform.precio.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ libroform.cantidad.label }}
                {{ libroform.cantidad }}<br>
                {% for error in libroform.cantidad.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ libroform.autor_id.label }}
                {{ libroform.autor_id }}<br>
                {% for error in libroform.autor_id.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ libroform.enviar() }}
            </div>
        </form>
        <p>Volver al <a href="{{ url_for('routes.index') }}"><b>Inicio</b></a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alerts">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% else %}
        <p>
            Acceso denegado, para poder agregar un nuevo libro debes estar correctamente 
            <a href="{{ url_for('routes.register') }}"><b>registrado</b></a> ó <a href="{{ url_for('routes.login') }}"><b>iniciar sesión</b></a>
        </p>
    </div>
    {% endif %}
{% endblock %}