{% extends "form_template.html" %}
{% block content %}
    <h2>Nuevo Autor</h2>
    {% if current_user.is_authenticated and current_user.usuario != 'anonimo' %}
    <div>
        <form action="{{ url_for('routes.nuevo_autor') }}" method="POST" novalidate>
            {{ autorform.hidden_tag() }}
            <div>
                {{ autorform.nombre.label }}
                {{ autorform.nombre(size=128) }}<br>
                {% for error in autorform.nombre.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ autorform.apellido.label }}
                {{ autorform.apellido(size=128) }}<br>
                {% for error in autorform.apellido.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ autorform.enviar() }}
            </div>
        </form>
        {% else %}
        <p>
            Acceso denegado, para poder agregar un nuevo autor debes estar correctamente 
            <a href="{{ url_for('routes.register') }}"><b>registrado</b></a> ó <a href="{{ url_for('routes.login') }}"><b>iniciar sesión</b></a>
        </p>
    </div>
    {% endif %}
{% endblock %}
